@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Outfit:wght@100..900&family=Satisfy&display=swap');

/* details font url */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body {
    background-image: url('../../../public/images/image4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
   border: 2px solid #EEB80E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_txt {
    font-size: 25px;
    text-align: center;
    padding: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.input-group {
    padding: 10px;
}
.input-group input {
   width: 300px;
   height: 50px;
   font-size: 15px;
   font-family: "DM Sans", sans-serif;
   border-radius: 10px;
   border: 2px solid #EEB80E;
   padding: 20px;
}
.psw {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    padding: 20px;
    font-weight: 800;
    color: #EEB80E;
    margin-bottom: 2rem;
}
.login_btn {
    width: 100%;
    text-align: center;
    background-color: #EEB80E;
    color: black;
    padding: 13px 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
}
.login_btn:hover {
    background-color: black;
    color: #EEB80E;
}

.account_txt {
    padding: 19px;
    margin-bottom: 2rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
}
.account_txt a {
    text-decoration: none;
    color: #EEB80E;
}